<a href="https://colab.research.google.com/github/7ryean/PYTHON/blob/main/%5BPYTHON%5D%20Day%209.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **프로그램의 입력과 출력은 어떻게 해야 할까?**

# 4-1. 함수

(1) 함수를 사용하는 이유 : 반복되는 부분이 있을 경우 '반복적으로 사용되는 가치 있는 부분'을 한 뭉치로 묶어서 '어떤 입력값을 주었을 때 어떤 결과값을 돌려준다'라는 것을 현명하게 사용할 수 있음. 또한, 프로그램 흐름을 일목요연하게 정리할 수 있음.

(2) 파이썬 함수의 구조

In [ ]:
def add(a, b) :
  return a + b

이 함수의 이름(함수 이름)은 add이고 입력으로 2개의 값을 받으며 결과값은 2개의 입력값을 더한 값이다.

In [ ]:
def add(a, b) :
  return a + b
  
a = 3
b = 4
c = add(a, b)
print(c)

7

(3) 매개변수(parameter)와 인수(arguments)

In [ ]:
# 매개변수
def add(a, b) :
  return a + b

'매개변수'는 함수에 입력으로 전달된 값을 받는 변수 / return : 함수의 결괏값을 돌려주는 명령어

In [ ]:
# 인수
print(add(3, 4))

7

'인수'는 함수를 호출할 때 전달하는 입력값

(4) 입력값과 결괏값에 따른 함수의 형태

- 일반적인 함수

In [ ]:
def add(a, b) :
  result = a + b
  return result

a = add(3, 4)
print(a)

7

결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)

In [ ]:
- 입력값이 없는 함수

In [ ]:
def say() :
  return 'Hi'

In [ ]:
a = say()
print(a)

Hi

결과값을 받을 변수 = 함수이름()

- 결괏값이 없는 함수

In [ ]:
def add(a, b) :
  print('%d, %d의 합은 %d입니다.' % (a, b, a+b))

In [ ]:
add(3, 4)

3, 4의 합은 7입니다.

함수이름(입력인수1, 입력인수2, ...)

In [ ]:
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

- 입력값도 결괏값도 없는 함수

In [ ]:
def say() :
  print('Hi')

say()

Hi

(5) 매개변수 지정하여 호출하기

In [ ]:
def add(a, b) :
  return a + b

result = add(a=3, b=7)
print(result)

10

In [ ]:
result = add(b=5, a=3)
print(result)

8

매개변수를 지정하면 입력변수를 순서와 상관없이 사용할 수 있다는 장점이 있다.

(6) 입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

- 여러 개의 입력값을 받는 함수 만들기

In [ ]:
def add_many(*args) :
  result = 0
  for i in args :
    result += i
  return result

함수에서 *args처럼 이름 앞에 *를 붙여주면 입력값이 몇 개이든 상관 없이 전부 모아 튜플로 만들어 준다.

In [ ]:
result = add_many(1, 2, 3)
print(result)

6

In [ ]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [ ]:
def add_mul(choice, *args) :
  if choice == 'add' :
    result = 0
    for i in args :
      result = result + i
  elif choice == "mul" :
    result = 1
    for i in args :
      result = result * i
  return result

In [ ]:
result = add_mul('add', 1, 2, 3, 4, 5)
print(result)

15

In [ ]:
result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

120

[ 점프 투 파이썬 ] : 키워드 파라미터

In [ ]:
def print_kwargs(**kwargs) :
  print(kwargs)

In [ ]:
print_kwargs(a=1)

{'a': 1}

In [ ]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

키워드 파라미터를 사용할 때는 매개변수 앞에 별 두 개(**)를 붙인다. 이름 앞에 별 두 개를 붙이면 매개변수는 딕셔너리가 되고 모든 key = value 형태의 결괏값이 딕셔너리에 저장된다.

(7) 함수의 결괏값은 언제나 하나이다

In [ ]:
def add_and_mul(a, b) :
  return a+b, a*b

In [ ]:
result = add_and_mul(3, 4)

In [ ]:
print(result)

(7, 12)

각각의 결괏값을 하나의 튜플이 아닌, 각 값으로 얻고 싶을 때 사용하는 방법

In [ ]:
a = result1, result2 = add_and_mul(3, 4)

In [ ]:
print(a)

(7, 12)

In [ ]:
print(result1)
print(result2)

7
12

In [ ]:
def add_and_mul(a, b) :
  return a+b
  return a*bin
  
result = add_and_mul(2, 3)
print(result)

5

[ 점프 투 파이썬 ] return의 또 다른 쓰임새

In [ ]:
def say_nick(nick) :
  if nick == '바보' :
    return
  print("나의 별명은 %s입니다." % nick)

say_nick('야호')

나의 별명은 야호입니다.

In [ ]:
say_nick('바보')

특별한 상황일 때 함수를 빠져나가고 싶다면 return을 단독으로 써서 함수를 즉시 빠져나갈 수 있다. 이 함수는 반환 값(결괏값)은 없고 문자열 출력만 존재한다. 함수의 반환 값은 오로지 return을 통해서만 생성된다. 만약에 입력값으로 '바보'라는 값이 들어오면 문자열을 출력하지 않고 함수를 즉시 빠져나간다.

(8) 매개변수에 초깃값 미리 설정하기

In [10]:
def say_myself(name, old, man=True) :
  print("나의 이름은 %s입니다." % name)
  print("나이는 %d살 입니다." % old)
  if man :
    print("남자입니다.")
  else :
    print("여자입니다.")

In [11]:
say_myself("박응용", 27)
say_myself("박응용", 27, True)

나의 이름은 박응용입니다.
나이는 27살 입니다.
남자입니다.
나의 이름은 박응용입니다.
나이는 27살 입니다.
남자입니다.

In [12]:
say_myself("박응선", 27, False)

나의 이름은 박응선입니다.
나이는 27살 입니다.
여자입니다.

초깃값을 설정해 놓은 매개변수 뒤에 초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다. 초기화하고 싶은 매개변수를 항상 뒤쪽에 놓아야 한다.

(9) 함수 안에서 선언한 변수의 효력 범위

In [13]:
a = 1
def vartest(a) :
  a += 1

vartest(a)
print(a)

1

함수 안에서 사용하는 매개변수는 함수 밖의 변수 이름과는 전혀 상관이 없다.

In [14]:
# vartest error
def vartest(a) :
  a += 1

vartest(3)
print(a)   # 이 코드는 print에서 받아야할 a가 존재하지 않는다. 함수 안에서 선언한 매개변수는 함수 안에서만 사용될 뿐 함수 밖에서는 사용되지 않는다.

1

- 함수 안에서 함수 밖의 변수를 변경하는 방법

In [15]:
a = 1
def vartest(a) :
  a += 1
  return a

a = vartest(a)
print(a)

2

(10) lambda

lambda : 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다. 보통 함수를 한 줄로 간결하게 만들 때 사용한다.

lambda 매개변수1, 매개변수2, ... : 매개변수를 사용한 표현식

In [16]:
add = lambda a, b : a+b
result = add(3, 4)
print(result)

7

In [17]:
def add(a, b) :
  return a + b

result = add(3, 4)
print(result)

7