<a href="https://colab.research.google.com/github/7ryean/PYTHON/blob/main/%5BPYTHON%5DDay%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **연습문제**

1. 홍길동씨의 과목 별 평균 점수를 구해라.

In [38]:
(80 + 75 + 55) / 3

70.0

2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [12]:
13 % 2

1

In [15]:
a = 13 % 2
if a == 1 :
  print('홀수')
else :
  print('짝수')

홀수

3. 홍길동씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.

In [16]:
pin = '881120-1068234'

In [17]:
yyyymmdd = pin[0:6]
num = pin[7:]

print(yyyymmdd)
print(num)

881120
1068234

4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해보자.

In [18]:
print(pin[7])

1

5. 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해보자.

In [20]:
a = 'a:b:c:d'
b = a.replace(':','#')
print(b)

a#b#c#d

6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [22]:
a = [1, 3, 5, 4, 2]
a.sort(reverse = True)
print(a)

[5, 4, 3, 2, 1]

7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해보자.

In [27]:
a = ['Life', 'is', 'too', 'short']
result = a.join( )
print(result)

AttributeError: ignored

In [39]:
# 해답, a 리스트의 각 단어들을 한 문장으로 조립할 때 단어 사이마다 공백을 넣어주어야 하기 때문에 " " 공백문자를 사용해 join 해야 한다.
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

8. (1, 2, 3) 튜플에 값 4를 추가하여 (1, 2, 3, 4)를 만들어 출력해 보자.

In [30]:
a = (1, 2, 3)
a = a + (4,)
print(a)   # 단, 이때 만들어지는 a + (4,)의 결과는 a 값이 변경되는 것이 아니라(튜플은 값을 변경하는 것이 불가능) 새로운 튜플이 생성되고 그 값이 a 변수에 대입되는 것이다.

(1, 2, 3, 4)

9. 다음과 같은 딕셔너리 a가 있다. 오류가 발생하는 경우와 그 이유를 설명해보자.
> a = dict()

In [ ]:
# 3번. a[[1]] = 'python'. 딕셔너리의 키값에는 리스트가 들어갈 수 없다.

10. 딕셔너리 a에서 'B'에 해당하는 값을 추출해보자.

In [31]:
a = {'A' : 90, 'B' : 80, 'C' : 70}
result = a['B']
print(a)
print(result)

{'A': 90, 'B': 80, 'C': 70}
80

In [40]:
# 해답, 추출해낸다는 명제에 조심하자. 값을 반환하거나 보는 것이 아니라 추출(빼내는 것)이다.
a = {'A' : 90, 'B' : 80, 'C' : 70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

11. a 리스트에서 중복 숫자를 제거해보자.

In [34]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)   # 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용한 것

[1, 2, 3, 4, 5]

12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해 설명해 보자.

In [35]:
a = b = [1, 2, 3]
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [36]:
print(id(a))
print(id(b))

139950702515720
139950702515720

In [ ]:
# 같은 값이 나온다. a와 b는 저장위치가 같은, 복사본이 아닌 똑같은 리스트이기 때문이다.