<a href="https://colab.research.google.com/github/7ryean/PYTHON/blob/main/%5BPYTHON%5D%20Day%207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **프로그램의 구조를 쌓는다, 제어문**

# 03. for문

for문은 첫 번째 요소부터 마지막 요소까지 차례로 변수에 대입되어 '수행할 문장1', '수행할 문장2'등의 순서로 수행된다.

In [1]:
test_list = ['one', 'two', 'three']
for i in test_list :
  print(i)

one
two
three

In [2]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a :
  print(first + last)

3
7
11

In [3]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks :
  number = number + 1
  if mark >= 60 :
    print('%d번 학생은 합격입니다' % number)
  else :
    print("%d번 학생은 불합격입니다" % number)

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

(1) for문과 continue문

In [4]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks :
  number = number + 1
  if mark < 60 : continue
  print('%d번 학생 축하합니다. 합격입니다' % number)

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

(2) for문과 함께 자주 사용하는 range 함수

In [5]:
a = range(10)
a

range(0, 10)

In [8]:
a = range(1, 11)
a   # 11은 포함되지 않음

range(1, 11)

In [9]:
add = 0
for i in range(1, 11) :
  add = add + i

print(add)

55

In [10]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)) :
  if marks[number] < 60 : continue
  print('%d번 학생 축하합니다. 합격입니다' % (number+1))

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

[ 연습 문제 ] : for문과 range 함수를 사용하여 1부터 100까지 더해 보자.

In [14]:
number = 0
for i in range (1, 101) :
  number = number + i

print(number)

5050

- for와 range를 사용한 구구단

In [16]:
for i in range(2, 10) :   # (1)번 for문
  for j in range (1, 10) :   # (2)번 for문
    print(i*j, end = ' ')
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

(1)번 for문에서 2부터 9까지의 숫자가 차례로 i에 대입된다. i가 처음 2일 때 (2)번 for문을 만나게 된다. (2)번 for문에서 1부터 9까지의 숫자가 j에 대입되고 그 다음 문장 print(i*j)가 수행된다.

[ 점프 투 파이썬 ] : 매개변수 end를 넣어 준 이유는 무엇일까?
- 해당 결괏값을 출력할 때 다음 줄로 넘기지 않고 그 줄에 계속해서 출력하기 위해서이다. 그다음에 이어지는 print('')는 2단, 3단 등을 구분하기 위해 두 번째 for문이 끝나면 결괏값을 다음 줄부터 출력하게 해주는 문장이다.

(3) 리스트 내포 사용하기

In [18]:
a = [1, 2, 3, 4]
result = []
for num in a :
  result.append(num*3)

print(result)

[3, 6, 9, 12]

In [19]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [20]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

[표현식 for 항목 in 반복 가능 객체 if 조건]

In [21]:
# 구구단의 모든 결과를 리스트에 담고 싶다면?

result = [x*y for x in range(2,10)
for y in range(1, 10)]

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]